*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
li, a:not(.footer-link), .logo-header{
  font-family: Tahoma,sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #D3D3D3;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top:0;
  width: 100%;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252A;
}
h1{
  margin-top: 10px;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  padding: 0px 20px;
}
ul li a:hover{
  background-color: #D3D3D3;
  color:#24252A;
  border-radius: 5%;
}
.logo-header{
  display:flex;
  margin-right: auto;
  align-items: center;
}
.logo-header #header-img1{
  margin-right: 10px;
  font-size: 20px;
}
body{
background-color:#FAF9F6;
font-family: Tahoma,sans-serif;
}
#form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50px;
  margin: 50px auto;
}
#form .form{
  text-align: center;
  border: 2px solid black;
}
#form .button{
  width: 40%;
  margin: 10px auto;
  color:#FAF9F6;
  background-color: #24252A;
}
#form .button:hover{
  border-radius: 50px;
  background-color:#3d414a;
  border-color: #3d414a;
}
span{
  font-weight: 800;

}
h1,span{
  margin-left: 20px;
}
h1{
  border-bottom: 2px solid #3d414a;
}
p{
  margin: 0 20px;
}
iframe{
  display: block;
  width: 50%;
  height: auto;
  margin: 20px auto;
  max-width: 500px;
}
.logo-h1{
  display:flex;
  margin-left:5px;
  align-items: center;
}
.logo-h1 .logo{
  font-size: 20px;
  padding-right: 10px;
}
.first-section{
  margin-top: 100px;
}
.content{
  width: auto;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.price{
  border: 0.5px solid #3d414a;
  width: 220px;
  height: 300px;
  margin:20px 60px;

}
.last{
  display: block;
}
.cash{
  background-color: #3d414a;
  color: #D3D3D3;
}
h3{
  font-family: Courier New,sans-serif;
  padding: 20px 0;
}
.description{
  padding: 20px 0;
}
button{
  font-size: 32px;
  padding: 10px;
  border-radius: 50px;
  background-color: #3d414a;
  color:#D3D3D3;
  border: 1px solid #3d414a;
}
button:hover{
  background-color:#D3D3D3;
  color:#3d414a;
  cursor: pointer;
}
footer p{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #D3D3D3;
}
footer p a{
  text-decoration: none;
}
footer p a:hover{
  background-color:black;
  color:#D3D3D3;
}
footer p a:visited{
  color: white;
}
.form-h1{
  text-align: center;
  border: 0;
  margin-bottom: 5px;
  margin-top: 0px;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
